.bodyTest{
    background-color: #107BC9;
    width: 80%;
    margin: 0 auto;
}
.h4 {
    color: white;
    font-size: 1.8em;
}

.h1{
    color: #cccccc;
    font-weight: bold;
    font-size: 4em;
}
.py-3{
    padding: 25px;
    border: 1px solid #bada55 ;
    border-radius: 10px;
    background-color: #EAEAEA;
}
.MS_comment{
    float: right;
    /*display: flex;*/
    /*align-items: ;*/
}
#sketchpad{
    background-color: white;
}

.MS_lining .row div{
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    display: flex;
    justify-content: center;
}
.MS_clear, .MS_undo, .MS_redo{
    margin-top: 20px;
}
.MS_sketchpad_settings{
    margin-top: 5px;
}
.toolbox label{
    margin-top: 15px;
}


.linkingQuestion{
    display: flex;
    font-size:20px;
    font-family : 'Century Gothic,CenturyGothic,AppleGothic',sans-serif;
    position:relative;
}

.dragElement{
    z-index:2;
    display:inline;
    cursor: grab;
}
.dropElement{
    cursor:pointer;
}
#dragQuestion ul{
    list-style:none;
}
#dragQuestion ul li{
    margin-bottom:5px;
}
.canvasWrapper canvas{
    z-index:-1;
    position:absolute;
    width:100%;
    height:100%;
}
.canvasWrapper{
    z-index:-1;
    position:relative;
    width:200px;
    margin:20px -9px
}
#dropUL{
    padding-left:0;
}

#dropUL i{
    pointer-events:none;
}

#dragUL li div{
    margin-left:10px;
    float:right;
}
#dropUL li div{
    margin-right:10px;
    float:left;
}

i.linked:before{
    content:'\f057'
}
i{
    font-size:16px;
}
#dragQuestion ul li{
    font-size: 17px;
}
.MS_answ{
    font-size: 16px;
}
.MS_submit{
    display: flex;
    justify-content: center;
    margin: 25px;
}
.MS_submit button {
    font-size: 19px;
    background-color: #3c3c3c !important;
}
.MS_timerDiv{
    position: -webkit-sticky;
    position: sticky;
    /*position: absolute;*/
    top: 0;
    display: flex;
    float: right;
    background-color: #cccccc;
    opacity: 0.8;
    padding: 25px;
    z-index: 10;

}
